/************************************************
 * ROFI Color theme
 * User: leofa
 * Copyright: 2017 leofa
 ***********************************************/

@import "~/.config/rofi/uncreative.rasi"

scrollbar {
    handle-color: @prompt-admin;
}
textbox-prompt-colon {
    text-color: @prompt-admin;
}
/* vim:ft=css
